# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore these when user install the package (don't include in vendor directory)
/.idea              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.travis.yml        export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.php_cs.dist       export-ignore
/.github            export-ignore
/psalm.xml          export-ignore
/database           export-ignore
